:root {
    --font-primary: "Roboto Condensed", serif;
    --color-primary: #5fec61;
    --color-text: #ffffff;
    --color-bg: #000000;
    --color-cover: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-size: 1rem;
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    padding: 5rem 2rem;
    min-height: 100svh;
    align-content: center;
}

img,
svg
{
    display: block;
    max-width: 100%;
}

.tf-slider {
    --_media-size: clamp(400px, 40vw, 580px);
    --_grid-gap: 20px;
    --_slider-nav-height: 50px;
    --swiper-theme-color: var(--color-primary);
    --swiper-pagination-progressbar-bg-color: var(--color-cover);
    max-width: 1170px;
    margin-inline: auto;
    display: grid;

    .tf-slider_wrapper {
        display: grid;
        grid-template-areas: 'center';
    }

    .tf-slide {
        grid-area: center;
    }

    .tf-slider_nav {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: calc(var(--_slider-nav-height) * -1);

        width: calc(100% - var(--_media-size) - var(--_grid-gap));

        .tf-slider_btn{
            font-size: 1rem;
            font-family: var(--font-primary);
            font-weight: 600;

            width: 4rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: #ffffff;
            border: 0;
            cursor: pointer;

            &:last-of-type {
                order: 1;
            }
        }
    }

    .tf-slider_pagination {
        position: relative;
    }
}

.tf-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr var(--_media-size);
    align-items: center;
    gap: var(--_grid-gap);

    .tf-card_content {
        padding-bottom: calc(var(--_slider-nav-height) + var(--_grid-gap));
        transition: opacity ease calc(var(--_animation-duration) / 2); 
    }

    .tf-card_icon {
        color: var(--color-primary);
    }

    .tf-card_text {
        font-size: 3rem;
        font-weight: 500;
        margin-block-start: 1rem;
        margin-block-end: 2rem;
        text-transform: uppercase;
        max-width: 22ch;

        .line {
            overflow: hidden;
        }
    }
    
    .tf-card_title {
        font-size: 1rem;
        font-weight: 400;
    }

    .tf-card_media {
        pointer-events: none;
        position: relative;
        overflow: hidden;
        padding-top: 120%;
        background-color: var(--color-cover);

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: inherit;
            transform: scaleX(1);
            transform-origin: left center;
            transition: transform var(--_animation-duration) cubic-bezier(0.76, 0.09, 0.215, 1);
            pointer-events: none;
        }
    }

    .tf-card_image {
        position: absolute;
        inset: 0;
        object-fit: cover;
    }
}

.swiper-slide {
    position: relative;
    transition: 0s var(--_animation-duration) ease;
    transition-property: opacity, visibility;
    
    &:not(.swiper-slide-active) {
        opacity: 0;
        visibility: hidden;

        .tf-card_content {
            opacity: 0;
        }
    }

    &.swiper-slide-active {
        z-index: 1;

        .tf-card_content {
            transition-duration: var(--_animation-duration);
            transition-delay: var(--_animation-duration);
        }

        .tf-card_media::after {
            transition-delay: var(--_animation-duration);
            transform: scaleX(0);
            transform-origin: right center;
        }
    }
}